ul#countdown {
}
ul#countdown li{
    background-color: #333;
    border: 2px solid #fff;
    color: #fff;
    display: inline;
    float: left;
    font-weight: bold;
    font-size: 36px;
    margin-left: 5px;
    text-align: center;
    width: 65px;
    border-radius: 6px;
    box-shadow: 0 0 3px #777;
    padding:8px;
}

.timeRef{
    font-size: 16px;
}