body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 11pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
button{
    cursor: pointer;
    -webkit-box-shadow: inset 0px 1px 15px 0px #bbdaf7;
    box-shadow: inset 0px 1px 10px 0px #bbdaf7;
    background-color: #639acd;
    text-indent: 0px;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    height: 34px;
    line-height: 34px;
    width: 197px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #528ecc;
}
button:hover{
    box-shadow: 2px 2px 2px #7eb9ef;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}
.clear{
    clear: both;
}
.banner{
    position: absolute;
    margin-left: 720px;
    width: 200px;
    margin-top: 0px;
}
.ads:hover{
    box-shadow: #519bc5 7px 7px 7px ;
}
.main_container{
    float: left;
    width:78%;
}
.right_side{
    float: left;
    width:20%;
    margin-left: 10px;

}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
    background: #eaeae3;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}
div.ads img{
    width:200px;
}
.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.tab_background{
    background: #eaeae3;
    border-top-left-radius: 10px;
    border: solid #519bc5;
}

.tabContent{
    display: none;
    borcer: 1px solid #eaeae3;
    padding: 10px 20px 20px 20px;
}

.activeTab{
    display: block;
}
.tabs a{
    display: inline-block;
    padding: 10px;
    width: auto;
    background: #eaeae3;
    border-bottom: none;
    height: 18px;
    color: #519bc5;
    text-decoration: none;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    margin-left: -3px;
    font-weight: bold;
}
.tabs a:hover{
    color: #ffffff;
    background: #519bc5;
}
.tabs a.activeTab{
    position: relative;
    background: #519bc5;
    z-index: 5;
    height: 20px;
    color: #ffffff;
}
