body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
    background: #262223;
    background-image: url("/images/backgrounds/5.jpg");
    background-repeat: no-repeat;
}

a{
    color:#555555;
    display : inline-table;
    text-decoration: none;

}
a:hover{
    color: #9eb3ca;
}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}
.icon{
    position: absolute;
    right:5px;
    top:8px;
}

#page
{

	margin-top: 5px;
	margin-bottom: 5px;
	background: #fbf3e1;
	border: 10px solid #9eb3ca;
    border-radius: 30px;
}

#header
{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
	margin: 0;
	padding: 0;
    background: #fdf5e2;
    text-align: center;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
    color:#ffffff;
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	/*border-top: 1px solid #f48a0d;*/
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}



#mainmenu
{
    height:33px;
    margin: 0 auto;
    text-align:center;
}

#mainmenu ul li {
    display: inline-block;
    position:relative;
    margin: auto;
    background: #33332c;
    padding-top:5px;
}

#mainmenu ul li a
{
	color: #fbf3e1;
	font-size:14px;
	padding-top:5px;
    padding-bottom:5px;
    width:228px;
}

#mainmenu ul li ul {
    display: none;
    position: absolute;
    margin-left: -20px;
}
#mainmenu ul li ul:hover {
    display: none;
    position: absolute;
    margin-left: -20px;
}

#mainmenu ul li:hover > ul {
    display: block;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #f5921e;
	border-bottom: solid 5px #f5921e;
	text-decoration:none;
}

.row{
    font-size: 16px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}


div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.bracket_box{
    font-size:.8em;
    background: #9eb3ca;
    margin-top: 5px;
    width:110px;
    max-height: 15px;
    padding:3px;
    overflow: hidden;
}

.final_four{
    position: absolute;
    float: left;
    margin-left: 400px;
    width: 400px;
}
.roster{
    width: 110px;
    float: left;
    padding-bottom: 20px;
}
.float_right{
    float: right;
}
.align_right{
    text-align: right;
}
.spacer{
    height: 5px;
}
.score_box{
    position: absolute;
    margin-top: -37px;
    color: #8a1f11
}
.reagion_title{
    color:#8a1f11;
    margin-bottom: .1em;
}
.reagion_title_div_south{
    position: absolute;
    margin-left: 297px;
    margin-top: 217px;
    font-size: 20px;
}
.reagion_title_div_west{
    position: absolute;
    margin-left: -275px;
    margin-top: 197px;
    font-size: 20px;
}
.reagion_title_div_east{
    position: absolute;
    margin-left: 305px;
    margin-top:655px;
    font-size: 20px;
}
.reagion_title_div_midwest{
    position: absolute;
    margin-left: -305px;
    margin-top:655px;
    font-size: 20px;
}

.regional_div{
    padding:10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color:#ffffff;
    height: 570px;
}
.gradient_left{
    background-color: #f48a0d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4890b), to(#f9f1e0));
    background-image: -webkit-linear-gradient(left, #f4890b, #f9f1e0);
    background-image:    -moz-linear-gradient(left, #f4890b, #f9f1e0);
    background-image:     -ms-linear-gradient(left, #f4890b, #f9f1e0);
    background-image:      -o-linear-gradient(left, #f4890b, #f9f1e0);
}
.gradient_right{
    background-color: #f48a0d;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#f4890b), to(#f9f1e0));
    background-image: -webkit-linear-gradient(right, #f4890b, #f9f1e0);
    background-image:    -moz-linear-gradient(right, #f4890b, #f9f1e0);
    background-image:     -ms-linear-gradient(right, #f4890b, #f9f1e0);
    background-image:      -o-linear-gradient(right, #f4890b, #f9f1e0);
}


.centered_div{
    position: absolute;
    width: 240px;
    margin-left: 450px;
}
.regional_div_my_picks{
    width:240px;
    background: #333333;
}
.center_div{
    margin:0 auto;
}
.boxed{
    border:solid #000000 3px;
    margin-top: -3px;
    text-align: center;
}
.text_center{
    text-align: center;
}
.ticket{
    width:240px;
    background-color: #f48a0d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f1e0), to(#f4890b));
    background-image: -webkit-linear-gradient(top, #f9f1e0, #f4890b);
    background-image:    -moz-linear-gradient(top, #f9f1e0, #f4890b);
    background-image:     -ms-linear-gradient(top, #f9f1e0, #f4890b);
    background-image:      -o-linear-gradient(top, #f9f1e0, #f4890b);
    color:#000000;
}

.ticket_box{
    float:left;
    margin-left: 20px;
    color: black;
    height: 480px;
}

input[type=text], textarea {
    color: #494949;
    width: 300px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
    outline: 0;
}
input[type=password] {
    color: #494949;
    width: 300px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
    outline: 0;
}



input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    color: orange;
    border: 1px solid rgba(81, 203, 238, 1);
}


input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    color: orange;
    border: 1px solid rgba(81, 203, 238, 1);
}


.display_bracket_button{
    position: absolute;
    margin-left:-68px;
    position:fixed;
    top:30%;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.bracket_button{
    width:135px;
    height:18px;
    padding:5px;
    background-color: #f48a0d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9eb3ca), to(#4b4b4b));
    background-image: -webkit-linear-gradient(top, #9eb3ca, #4b4b4b);
    background-image:    -moz-linear-gradient(top, #9eb3ca, #4b4b4b);
    background-image:     -ms-linear-gradient(top, #9eb3ca, #4b4b4b);
    background-image:      -o-linear-gradient(top, #9eb3ca, #4b4b4b);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-decoration: none;
}

.bracket_button:hover{
    background-color: #f48a0d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9eb3ca), to(#f4890b));
    background-image: -webkit-linear-gradient(top, #9eb3ca, #f4890b);
    background-image:    -moz-linear-gradient(top, #9eb3ca, #f4890b);
    background-image:     -ms-linear-gradient(top, #9eb3ca, #f4890b);
    background-image:      -o-linear-gradient(top, #9eb3ca, #f4890b);
    cursor: pointer;
}

.wrapper {
    margin: 50px auto;
    width: 280px;
    height: 370px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}



.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -8px;
    right: -13px;
}

.ribbon {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(186, 94, 13, 0.50) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #f48a0d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f48a0d), to(#ba5e0d));
    background-image: -webkit-linear-gradient(top, #f48a0d, #ba5e0d);
    background-image:    -moz-linear-gradient(top, #f48a0d, #ba5e0d);
    background-image:     -ms-linear-gradient(top, #f48a0d, #ba5e0d);
    background-image:      -o-linear-gradient(top, #f48a0d, #ba5e0d);
    color: #303131;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
    content: "";
    border-top:   3px solid #f48a0d;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon:before {
    left: 0;
}

.ribbon:after {
    right: 0;
}

.ui-button:hover{
    border: 1px solid #59b4d4;
    background: #0078a3 url("/css/jquery-ui-custom/images/ui-bg_glass_40_0078a3_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
}

.mfp-with-zoom {
    border:none;
    z-index: 1000;
    padding-left: 15%;
    margin-right: 300px;
}

.display_box{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px #9db2c9;
}
.dataTables_wrapper .dataTables_length {
    display: none;
}
label{
    float: left;
    text-align: left;
    font-weight: bold;
    margin-left: 0;
}
input{
    width: 125px;
    margin-right: 10px;
}
.link:hover{
    cursor: pointer;
}
.homepage_container{
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-right: 20px;
    font-size: 17px;
}
.orange_text{
    color: #f5921e;
}
.title{
    font-size: 60px;
}
.title2{
    font-size:40px;
}
.bold{
    font-weight: bold;
}