body
{
    font-size: 16pt;
    background-image: url("/images/freeow_images/osx/background.png");
    background-repeat: no-repeat;
}

#footer
{
    width:100%;
    text-align: center;
    font-size: 1.2em;
}

#mainmenu
{
    height:250px;
}

#mainmenu ul li a
{
    padding-top:40px;
    font-size:30px;
    width:220px;
    height:80px;
}
.mobile_padding{
    padding: 30px;
}
div.breadcrumbs{
    display: none;
}
.main_title{
    text-align: center;
    margin-top: -50px;
}

.bracket_button{
    display: none;
}
.mobile_hide{
    display:none;
}

.row{
    font-size: 46px;
}

input[type=text], textarea {
    font-size: 60px;
    width : 700px;
}

input[type=password] {
    font-size: 60px;
    width : 700px;
}
.mobile_not_float_right{
    clear: both;
}
.title_bar{
    font-size: 90px;
}

.ticket_box{
    height: 550px;
}

.title2{
    font-size: 38px;
}
.add_ticket_box{
    height: 90px;
}

.mobile_container{
    width:100%;
    float: none;
    margin-left: 10px;
    margin-bottom: 15px;

}
.contact_image{
    width:240px;
}
input{
    width: 325px;
}
.space_div{
    margin-top: 100px;
}
input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
}
.countdown_text{
    width: 100%;
    font-size : 30px !important;
}
ul#countdown li{
    font-size: 150px;
}

.countdown_div{
    width:100%;
    text-align: center;
}
.coutdown_time{
    margin-left: 170px;
}

.regional_div{
    height: 860px;
    width: 350px;
}

.ui-widget {
    font-size: 1.6em !important;
}

.seed_title{
    width:40px;
    padding-top: 9px;
    font-size: 15px;
}
.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -.3em;
    width: 250px;
}

.button_arrangment{
    margin-top: 5px;
    margin-bottom:5px;
}

.terms{
    min-height: 300px;
    max-height: 300px;
}
.add_ticket_div{
    margin-top:30px;
    width: 100%;
    text-align: center;
}