
        .font1 {
        font-size: 19.8px;
        font-family: "Arial#20Black";
        color: #000000 ;
        opacity: 1 ;
        }
        .font1 a {
        text-decoration: none;
        color: #000000;
        }
        .font1 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font1 a:visited {
        color: #900060;
        }
      
        .font2 {
        font-size: 30.8px;
        font-family: "Arial#20Black";
        color: #000000 ;
        opacity: 1 ;
        }
        .font2 a {
        text-decoration: none;
        color: #000000;
        }
        .font2 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font2 a:visited {
        color: #900060;
        }
      
        .font3 {
        font-size: 44.0px;
        font-family: "Aharoni,Bold";
        color: #000000 ;
        opacity: 1 ;
        }
        .font3 a {
        text-decoration: none;
        color: #000000;
        }
        .font3 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font3 a:visited {
        color: #900060;
        }
      
        .font4 {
        font-size: 15.4px;
        font-family: "Rockwell#20Extra#20Bold";
        color: #000000 ;
        opacity: 1 ;
        }
        .font4 a {
        text-decoration: none;
        color: #000000;
        }
        .font4 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font4 a:visited {
        color: #900060;
        }
      
        .font5 {
        font-size: 17.6px;
        font-family: "Arial#20Black";
        color: #000000 ;
        opacity: 1 ;
        }
        .font5 a {
        text-decoration: none;
        color: #000000;
        }
        .font5 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font5 a:visited {
        color: #900060;
        }
      