
        .font1 {
        font-size: 9.8px;
        font-family: "GillSansMT";
        color: #000000 ;
        opacity: 1 ;
        }
        .font1 a {
        text-decoration: none;
        color: #000000;
        }
        .font1 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font1 a:visited {
        color: #900060;
        }
      
        .font2 {
        font-size: 8.6px;
        font-family: "GillSansMT";
        color: #000000 ;
        opacity: 1 ;
        }
        .font2 a {
        text-decoration: none;
        color: #000000;
        }
        .font2 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font2 a:visited {
        color: #900060;
        }
      
        .font3 {
        font-size: 7.4px;
        font-family: "GillSansMT";
        color: #000000 ;
        opacity: 1 ;
        }
        .font3 a {
        text-decoration: none;
        color: #000000;
        }
        .font3 a:hover {
        text-decoration: none;
        background-color: rgba(63,199,255,0.5);
        }
        .font3 a:visited {
        color: #900060;
        }
      